*{
    margin: 0;
    padding: 0;
}

.baner {
    height: 100px;
    width: 100%;
    background-color: aqua;
    padding: 50px;
    
}
.titulobaner {
    font-size: 50px;
    
}

.parte2 {
    background-color:orange ;
    padding: 10px;
    list-style: none;

}
 
.nombre {
    padding: 50px;
}

.apellido {
    padding: 50px;
}

.cuadronombre {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
}
